.mainBody{
    display: flex;
    width: 100%;
    background-image: linear-gradient(180deg,rgb(102, 102, 238),lightskyblue);
    position: absolute;
    top: 0;
    left: 0;
}
.navbar {
    background-color: #22222288;
}
.navbar a{
    color: white !important;;
}
#special-text{
    color:black !important;
}

.nav-left{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    /* justify-content: center; */
    align-items: center;
    z-index: 1;
}

.hidden-logo{
    display: none;
}

.nav-left-container{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20px;
}

.nav-left-container > a {

    margin: 5px;
    height: 35px;
    border: 1px solid white;
    width: 90%;
    font-size:10px
}

.nav-center{
    margin-top: 100px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.nav-logo-img {


    flex-basis: 40%;
    width: 60%;
    position: relative;

}


.nav-logo {
    flex-basis:40%;
    width: 100%;
}

.nav-logo-text {
    flex-basis: 10%;
    width:100%;
    text-align: center;
    color: white;
    font-size: 25px;;  

}

.nav-right{
    margin-top: 100px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.nav-right-container {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 8px;
    /* align-items: center; */
    width: 60%;
    position: relative;
    /* justify-content: center; */
    font-size:10px;
    margin: 20px;
}
.nav-right-container-text{
    color:white;
    font-size: 25px;
    width: 90%;
}

.nav-right-container-link{
    margin-top: 30px;
    color:yellow;
    font-size: 25px;
    /* border-bottom: 1px solid yellow; */
    text-align: center;
    margin: 8px;
    text-decoration:underline;
    /* text-decoration: line-through; */
}



.nav-right-container > a {
    width: 100%;
    font-size: 25x;
}

.nav-right-container-first{
    font-size:15px;
    color: white;

}
.nav-right-last-container {
    margin-top: 50px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 8px;
    /* align-items: center; */
    width: 60%;
    position: relative;
    /* justify-content: center; */
    font-size:15px;
    
}


.nav-right-container-second{
    font-size:20px;
    color: black;
    text-decoration: underline;
}

.nav-right-container-third {
    text-align: left;
    color: black;
}


@media screen and (max-width: 1400px){

    .nav-logo-text{
        flex-basis: 40%;
    }
    .nav-right-container-text {
        font-size: 18px;

    }
    

    .nav-right-container{
        font-size: 10px;;
    }
    .nav-right-container > a {
        font-size: 10px;
    }
    /* .nav-right-container-text{
        font-size: 15px;;
    } */

}

@media screen and (max-width: 1100px){
    .hidden-logo{
        display: block;
    }
    .nav-center{
        display: none;
    }
    .nav-left{
        flex-basis: 50%;
        margin-top: 50px;;
    }
    .nav-right{
        flex-basis: 50%;
    }
    .mainBody{
        height: 100vh;
    }

}

@media screen and (max-width: 750px){
    .hidden-logo{
        display: block;
    }
    .hidden-logo{
        display: block;
    }
    .mainBody{
        flex-direction: column;
    }

    .nav-right{
        font-size: 25px;
        flex-basis: 1000%;
    }

    .nav-left{
        margin-top: 50px;
        font-size: 25px;;
        flex-basis: 100%;
    }

    .nav-left-container > a {

        margin: 5px;
        /* height: 15px; */
        border: 1px solid white;
        width: 90%;
    }
    .nav-right-container {
        width: 90%;
    }

    .nav-left-container{
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 20px;
    }
    .nav-right-container:last-child{

        width: 70%;
    }
    .mainBody{
        height: auto;
    }

}


@media screen and (max-device-width: 750px){

    .hidden-logo{
        display: block;
    }
    .mainBody{
        flex-direction: column;
    }

    .nav-right{
        font-size: 25px;
        flex-basis: 100%;
    }

    .nav-left{
        margin-top: 50px;
        font-size: 25px;;
        flex-basis: 100%;
        align-items: center;
    }

    .nav-left-container > a {

        margin: 5px;
        font-size: 25px;
        height: 50px;
        border: 1px solid white;
    }

    .nav-left-container{
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 20px;
    }
    .nav-right-container:last-child{
        width: 70%;
    }


}


.auth-body {
    height:100%; 
    align-items:center; 
    position:relative; 
    top:-10em
}

.table  td {
    text-align: center !important;
    padding: 5px !important;
}
.data-table {
    width: 100% !important;
    margin-top: 20px !important;
}
.dataTables_length {
    margin-top: 20px !important;
}
.dataTables_filter {
    margin-top: 20px !important;
}
select[name='product-table_length'] {
    width: 50% !important;
}
.dataTables_wrapper {
    overflow-x: scroll;
}
#product-table tr.active{
    background-color: #555555;
}
.menu-item  {
    color: white;
}